.title-icon {
  background: url(../images/headline-icons.png) no-repeat 0 0;
  width: 90px;
  height: 72px;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -38px;
  text-indent: -998em;
  @media (max-width: 767px) {
    display: none;
  }
  &.title-icon-yellow {
    background-position: -118px 0;
  }
  &.title-icon-blue {
    background-position: -236px 0;
  }
  &.title-icon-orange {
    background-position: -354px 0;
    top: 0;
    margin-top: 0;
  }
  &.title-icon-green {
    background-position: -472px 0;
    top: 0;
    margin-top: 0;
  }
  &.title-icon-pink {
    background-position: -590px 0;
    bottom: 0;
    margin-top: 0;
    top: auto;
  }
  &.left {
    left: 65px;
    @media (min-width: 1200px) {
      left: 155px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      left: -10px;
    }
  }
  &.right {
    right: 65px;
    @media (min-width: 1200px) {
      right: 155px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      right: -10px;
    }
  }
}
.participate1 {
  p {
    margin-top: 0;
  }
  .blue-text {
    margin-top: 19px;
  }
}
.participate2 {
  .title-icon-yellow {
    &.left {
      left: 67px;
      @media (min-width: 1200px) {
        left: 161px;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        left: -10px;
      }
    }
    &.right {
      right: 67px;
      @media (min-width: 1200px) {
        right: 161px;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        right: -10px;
      }
    }
  }
  .title-icon-blue {
    &.left {
      left: -36px;
      @media (min-width: 1200px) {
        left: 57px;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        display: none;
      }
    }
    &.right {
      right: -36px;
      @media (min-width: 1200px) {
        right: 57px;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        display: none;
      }
    }
  }
}
.participate3 {
  margin-bottom: 29px;
  .participate-inner {
    position: relative;
  }
  .icon-container-left {
    position: absolute;
    top: 43px;
    left: 10px;
    width: 196px;
    height: 158px;
    @media (min-width: 1200px) {
      left: 20px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      width: 90px;
      height: 72px;
      left: 39px;
    }
    @media (max-width: 767px) {
      display: none;
    }
    .title-icon-orange {
      left: 0;
      @media (min-width: 768px) and (max-width: 991px) {
        display: none;
      }
    }
    .title-icon-green {
      right: 0;
      @media (min-width: 768px) and (max-width: 991px) {
        display: none;
      }
    }
  }
}