#nav-link {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.navbar-brand {
	width: 70px;
	padding: 0px;
}

.navbar {
	background: #18253b;
}

.navbar-brand, .navbar-nav > li > a {
	color: white;
	width: 180px;
	text-align: center;
	font-size: 18px;
}

.navbar .navbar-nav > li > a:hover{
	background: #778899;
	color: rgb(0,0,0);
}

#find-workshop-link {
	color:rgb(255, 255, 96);
}


#nav-link > li{
	float: right;
}

#nav-link > li > a {
	position: relative;
	display: block;
	padding: 10px 15px;
	width: 180px;
	text-align: center;
}

/*Space invaider logos */ 
.title-icon {
	background: url(../images/headline-icons.png) no-repeat 0 0;
	width: 90px;
	height: 72px;
	display: block;
	position: absolute;
	/*top: 50%;*/
	/*margin-top: -38px;*/
	margin-top: 10px;
	text-indent: -998em;
}

/*Homepage 3rd section*/
.center-box {
	font-size: 25px; 
	margin: 25px 25px ;
}

#subtitle-heading {
	text-align: center;
	margin: 50px 25px 15px;
	font-size: 40px;
}

#subtitle-explanation {
	text-align: center;
	margin: 0px 25px 100px;
	font-size: 25px;
}

#section-explanation {
	text-align: center;
	margin: 100px 10px 50px;
	font-size: 25px;

}